body{
    font-family: 'Aboreto', cursive;
    margin: 0;

    }
    h1{
        font-size: 40px;
    }
      .cl-red{
        color: #F88667;
      }
      .purpol{
        color:#FFB626;
      }
      
      section{
          display: flex;
          padding-left: 6%;
      }
      .h-width{
          width: 50%;
      }
      .h-width img{
        width: 80%;
      } .link-button{
         background-image: linear-gradient(#FFBF21,#FFA032);
         text-decoration: none;
         font-weight: 700;
         padding: 10px 40px;
         color: aliceblue;
         border-radius: 5px;
        }
         .banner{
            background-image: url(images/top-banner.png);
            background-repeat: no-repeat;

         }